<div class="wrapper-chat-component">
  <div class="wrapper-messages"> <!-- chat message fields--->
    <div *ngFor="let postedMessage of postedMessages"
         [ngClass]="{ 'selfUser': fromSelfUser(postedMessage), 'notSelfUser': !fromSelfUser(postedMessage) }">
      <app-message-speech-bubble [message]="postedMessage"
                                 [selfUser]="fromSelfUser(postedMessage)">
      </app-message-speech-bubble>
    </div>
  </div>
  <div class="wrapper-message-input">
    <mat-form-field class="text-field-chat">
        <textarea matInput
                  cdkTextareaAutosize
                  cdkAutosizeMaxRows="6"
                  [(ngModel)]="messageContent"
                  (keydown.enter)="sendMessage(); $event.preventDefault()"
                  (keydown.control.enter)="ctrlEnter()"
                  [disabled]="sendPending">
        </textarea>
    </mat-form-field>
    <button mat-raised-button
            color="primary"
            (click)="sendMessage()">
      Send
    </button>
  </div>
</div>
