:host {
  height: 100%;
  width: 100%;
}

.wrapper-chat-component {
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 100%;
  width: 100%;
}

.wrapper-messages {
  width: 100%;
  flex-grow: 1;
}

.wrapper-message-input {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: baseline;
}

.text-field-chat {
  flex-grow: 1;
}


